name: Pull Request Check

on:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - name: makeERD
        env:
          DATABASE_URL: postgresql://user:password@localhost:5432/dummy
        run: |
          bun run db:generate
      - id: checkErdDiff
        run: echo "changed=$(git diff --name-only src/app/prisma/ERD.md)" >> $GITHUB_OUTPUT
      - run: echo ${{ steps.checkErdDiff.outputs.changed}}
      - if: ${{ steps.checkErdDiff.outputs.changed != '' }}
        run: |
          echo "ERD.md has changed.Please update ERD.md and commit it."
          exit 1
