name: textlint
on:
  pull_request:
    types: [opened, edited, reopened, ready_for_review]
  push:
  workflow_dispatch:

jobs:
  textlint:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Switch to pull request branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.38
      - name: Install packages
        run: bun install --ignore-scripts
      - name: Run textlint
        run: |
          if [ -e github.event.pull_request.html_url ]; then
            gh pr comment --body "Comment from :policeman: is here `bunx textlint ./README.md`" "${URL}"
          else
            bunx textlint ./README.md
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.html_url }}
